[Unit]
Description=Minecraft buchteln world

[Container]
Image=localhost/buchteln
Timezone=local
AutoUpdate=local
PublishPort=25565:25565
Volume=buchteln:/home/buchteln/buchteln

[Service]
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
